* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
  }
  a {
    color: #262626;
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  .container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }
  .layertop {
    background: url('../img/top.png') no-repeat center center/cover;
    background-color: rgba(251, 196, 81, 0.9);
    height: 120px;
    padding: 20px 0;
    padding-top: 0px !important;
    font-size: 13px;
  }

  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .iconbar {
      font-size: 10px;
      color: #2abb9b;
      cursor: pointer;
  }
    .contfirst {
      background-color:#2abb9b;
      color: white;
      padding: 2px 25px !important;
      border-radius: 25px; 
      font-weight: 500;
      font-size: 12px;
      cursor: pointer;
  
  }
ul.right-menu {
  margin-bottom: 0px !important;
}

  .logo {
    margin-left: 100px !important;
    margin-top: 50px;
  }
  .main-nav ul {
    display: flex;
  }

  .main-nav ul li {
    padding: 0 10px;
 }

 .main-nav ul li a {
    padding-bottom: 2px solid #262626
  }

 .main-nav ul li a:hover {
    border-bottom: 2px solid #262626;
  }
  
  .main-nav ul.main-menu {
    margin-left: 20px;
    display: none;
  }
  
.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 2;
   display: none;
}

  .btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #2abb9b;
    color: #fff;
    font-size: 15px;;
  }
  .btn:hover {
    opacity: 0.9;
  }

  .dark {
    color: #fff;
  }

  .dark .btn {
    background: #f4f4f4;
    color: #333;
  }


  /* Showcase */
.showcase {
    width: 100%;
    height: 100vh;
    background: url('../img/background.jpg') no-repeat center center/cover;
  }

.layer {
    background-color: rgba(251, 196, 81, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}




  .showcase h2, .showcase p {
    margin-bottom: 10px;
    font-size: 45px;
    color: white;
    opacity: 1;
    z-index: 4;
  }
  

  .showcase span {
    color: #2abb9b;
  }

  .showcase .btn {
    margin-top: 20px;
  }

/*Home Cards */

  .home-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 30px;
  }

  .home-cards img {
    width: 100%;
    margin-bottom: 20px;
  }

  .home-cards h3 {
    margin-bottom: 5px;
  }

  .home-cards a {
    display: inline-block;
    padding-top: 10px;
    color: blue;
    text-transform: uppercase;
    font-weight: bold;
  }
  .home-cards a:hover i {
    margin-left: 10px;
  }

  /* XBOX */
  .xbox {
    width: 100%;
    height: 350px;
    background: url('img/bug.jpg') no-repeat center center/cover;
    margin-bottom: 40px;
  }
  
  .xbox .content {
    width: 40%;
    padding: 50px 0 0 30px;
  }

  .xbox p,
  .carbon p {
    margin: 10px 0 20px;
  }

  .carbon {
    width: 100%;
    height: 350px;
    background: url('img/bug.jpg') no-repeat center center/cover;
  }
  .carbon .content {
    width: 55%;
    padding: 100px 0 0 30px;
  }

  /* FOLLOW */
  .follow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0 30px;
  }

  .follow * {
    margin-right: 10px;
  }

  /* LINKS */
  .links {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
  }

  .links-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    align-items: flex-start;
    justify-content: center;
  }

  .links li {
    line-height: 2.8;
  }
/* FOOTER */
  .footer {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    padding-bottom: 40px;
  }

  .footer-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer div {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .footer div i {
    margin-right: 10px;
  }

  footer ul {
    display: flex;
    flex-wrap: wrap;
  }
  

  footer li {
    margin-right: 30px;
    margin-bottom: 20px;
  }
    

  @media(max-width: 700px) {
    .menu-btn {
      display: block;
    }

    .main-nav {
      padding-top: 30px;
      justify-content: space-between;
      padding-left: 10px;
      padding-right: 10px;
    }

    .iconbar {
      order: 1;
    }
    .logo {
      order: 2;
    }

    .iconbar:hover {
       opacity: 0.5;  
    }

    .menu-btn:hover {
      opacity: 0.5;
    }

    .showcase h2, .showcase p {
      font-size: 25px; 
    }

    .main-nav ul.right-menu {
      /* margin-right: 50px; */
      display: none;
    }

    .main-nav ul.main-menu {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: #f2f2f2;
      width: 80% !important;
      height: 100%;
      border-right: #ccc 1px solid;
      opacity: 0.9;
      padding: 30px;
      transform: translateX(-500px);
      transition: transform 0.5s ease-in-out;
      z-index: 100;
    }

    .main-nav ul.main-menu li {
      padding: 10px;
      border-bottom: #ccc solid 1px;
      font-size: 14px;
    }

    .main-nav ul.main-menu li:last-child {
      border-bottom: 0;
    }
  

    .main-nav ul.main-menu.show {
      transform: translateX(-20px);
      
    }


    .logo {
      margin-left: 0px  !important;
      margin-top: 0px !important;
    }
  }

 /*  @media(max-width: 500px) {
    .home-cards {
      grid-template-columns: 1fr;
    }
    .links .links-inner {
      grid-template-columns: 1fr;
    }

    .links .links-inner ul {
      margin-bottom: 20px;
    }
   } */

   /* .main-nav {
     position: relative;
  } */
   .main-nav ul.main-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #f2f2f2;
    width: 21%;
    height: 100%;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-1000px);
    transition: transform 0.5s ease-in-out;
    z-index: 100;
  }

  .main-nav ul.main-menu li {
    padding: 10px;
    border-bottom: #ccc solid 1px;
    font-size: 14px;
  }

  .main-nav ul.main-menu li:last-child {
    border-bottom: 0;
  }


  .main-nav ul.main-menu.show {
    transform: translateX(-20px);
    
  }

  /* DOCUMENTE STYLING */
  .showcase-new {
    width: 100%;
    /* height: 100vh; */
    /* background: url('../img/background.jpg') no-repeat center center/cover; */
    /* background-color: #f9f9f9; */
  }


  .layer-new {
    /* background-color: rgba(251, 196, 81, 0.9); */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}


.layertop-new {
  background: url('../img/top.png') no-repeat center center/cover;
  /* background-color: rgba(251, 196, 81, 0.9); */
  height: 120px;
  padding: 20px 0;
  padding-top: 0px !important;
  font-size: 13px;
}

.left-align-item {
  text-align: left !important;
}

.custom-file-input ~ .custom-file-label::after {
  content: "Alege fisier";
}

.footer-new {
  background: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
  padding-bottom: 40px;
  bottom: 0;
  position: absolute;
  width: 100%
}

.nav-tabs .nav-link.active {
	background-color: #2abb9b !important;
	color: white !important;
}

.pointing {
	cursor: pointer !important;
}


@media (min-width: 576px) {
.modal-dialog {
	max-width: 800px;
}

.flexgeneral {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkedGreen {
  color: #2abb9b !important;
}

.errorRed {
  color: red !important;
}

.positionrelative {
  position: relative;
}

.positionabsolute {
    position: absolute;
    top: 0;
    left: 80%;
    height: 100%;
    font-size: 35px;
}

.manual-flex {
  flex: 1 !important;
}

.none-displaying {
  display: none !important;
 
}

.flexmanual {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center; 
  justify-content: center;
  flex-direction: column;
}

.cancel-pointer {
  pointer-events: none !important;
  cursor: not-allowed;
}

.cancel-pointer:hover {
  background-color: red !important;
}

.manual-flex-2 {
  flex: 2 !important;
}

.text-warning-2 {
  color: #dea90b!important;
  font-weight: 500 !important;
}

.none-background-image {
  background-image: none;
}
.flex-start {
  align-items: flex-start;
}

.color-white {
  color: black !important;
}
.flex-row-ag {
  display: flex !important;
}

.manual-flex {
  flex: 1 !important;
}

.flex-end {
  align-items: flex-end;
}

.manual-flex-2 {
  flex: 2 !important;
}

@media (min-width: 576px) {
  .color-white {
    color: black !important;
  }
}

.showcase h2, .showcase p {
  margin-bottom: 10px;
  font-size: 45px;
  color: white;
  opacity: 1;
  z-index: 4;

}